In [2]:
import pandas as pd
mobikedata = pd.read_csv('../data/mobikeData.csv', sep=',', nrows= 10, index_col= ['orderid'])
mobikedata.head(10)

,userid,bikeid,biketype,starttime,geohashed_start_loc,geohashed_end_loc
orderid,,,,,,
1893973,451147,210617,2,2017-05-14 22:16:50,wx4snhx,wx4snhj
4657992,1061133,465394,1,2017-05-14 22:16:52,wx4dr59,wx4dquz
2965085,549189,310572,1,2017-05-14 22:16:51,wx4fgur,wx4fu5n
4548579,489720,456688,1,2017-05-14 22:16:51,wx4d5r5,wx4d5r4
3936364,467449,403224,1,2017-05-14 22:16:50,wx4g27p,wx4g266
5163705,917620,509044,1,2017-05-14 22:16:53,wx4gd2e,wx4g6pw
19818,583391,3190,1,2017-05-14 22:16:54,wx4fhkk,wx4fh7q
495333,185893,67441,1,2017-05-14 22:16:53,wx4emgw,wx4emgk
2803108,15906,295614,2,2017-05-14 22:16:55,wx4f8t9,wx4f8tj
271970,183740,38335,1,2017-05-14 22:16:54,wx4dzjf,wx4dzhn

### bikeshare

The data acquired from bikeshare looks like the following. `trip_id` refers to the unique ID of a transaction. Bike rented in this system has fixed parking stations and `from_station_id` and `to_station_id` are simply referring the starting and ending location of the loan. 

There are two types of customers: **Customer** and **Subscriber**. A **Subscriber** will register with the company with more details while a **Customer** is an ad-hoc customer that does not register.

In [3]:
divvybike = pd.read_csv('../data/bikeshareTraining.csv', sep=',', nrows = 10, index_col=['trip_id'])
divvybike.head(10)

,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
trip_id,,,,,,,,,,,
19244622,2018-07-01 00:00:03,2018-07-01 23:56:11,5429,"86,168.0",140,Dearborn Pkwy & Delaware Pl,106,State St & Pearson St,Customer,NaN,NaN
19244623,2018-07-01 00:00:13,2018-07-01 00:06:39,93,386.0,153,Southport Ave & Wellington Ave,250,Ashland Ave & Wellington Ave,Subscriber,Male,1986.0
19244624,2018-07-01 00:00:15,2018-07-01 00:23:26,2461,"1,391.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Female,1987.0
19244625,2018-07-01 00:00:25,2018-07-01 00:23:31,2991,"1,386.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Male,1986.0
19244626,2018-07-01 00:00:27,2018-07-01 00:11:23,2851,656.0,60,Dayton St & North Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1961.0
19244627,2018-07-01 00:00:35,2018-07-01 00:16:09,5980,934.0,128,Damen Ave & Chicago Ave,71,Morgan St & Lake St,Subscriber,Male,1995.0
19244628,2018-07-01 00:00:37,2018-07-01 00:10:14,3132,577.0,168,Michigan Ave & 14th St,321,Wabash Ave & 9th St,Customer,NaN,NaN
19244629,2018-07-01 00:00:55,2018-07-01 00:09:20,2281,505.0,168,Michigan Ave & 14th St,321,Wabash Ave & 9th St,Customer,NaN,NaN
19244630,2018-07-01 00:01:38,2018-07-01 00:25:25,3465,"1,427.0",229,Southport Ave & Roscoe St,324,Stockton Dr & Wrightwood Ave,Customer,NaN,NaN
19244631,2018-07-01 00:01:44,2018-07-01 00:25:25,3873,"1,421.0",229,Southport Ave & Roscoe St,324,Stockton Dr & Wrightwood Ave,Customer,NaN,NaN

In [16]:
# Task 1 - Data Preprocessing and Statistics
#
# Read Mobike Data, and then change the type of the column 'starttime' to datetime64.

import pandas as pd
import geohash as geo
import math as math

mobikedata = pd.read_csv('../data/mobikeData.csv', nrows=100000, parse_dates=['starttime'], date_parser=lambda col: pd.to_datetime(col, utc=True))
mobikedata.head(10)

,orderid,userid,bikeid,biketype,starttime,geohashed_start_loc,geohashed_end_loc
0,1893973,451147,210617,2,2017-05-14 22:16:50+00:00,wx4snhx,wx4snhj
1,4657992,1061133,465394,1,2017-05-14 22:16:52+00:00,wx4dr59,wx4dquz
2,2965085,549189,310572,1,2017-05-14 22:16:51+00:00,wx4fgur,wx4fu5n
3,4548579,489720,456688,1,2017-05-14 22:16:51+00:00,wx4d5r5,wx4d5r4
4,3936364,467449,403224,1,2017-05-14 22:16:50+00:00,wx4g27p,wx4g266
5,5163705,917620,509044,1,2017-05-14 22:16:53+00:00,wx4gd2e,wx4g6pw
6,19818,583391,3190,1,2017-05-14 22:16:54+00:00,wx4fhkk,wx4fh7q
7,495333,185893,67441,1,2017-05-14 22:16:53+00:00,wx4emgw,wx4emgk
8,2803108,15906,295614,2,2017-05-14 22:16:55+00:00,wx4f8t9,wx4f8tj
9,271970,183740,38335,1,2017-05-14 22:16:54+00:00,wx4dzjf,wx4dzhn

In [17]:
# Convert the field geohashed_start_loc and geohashed_end_loc into x-y coordinate using the API Geohash.decode

mobikedata['geohashed_start_loc'] = mobikedata['geohashed_start_loc'].map(lambda loc:geo.decode_exactly(loc))
mobikedata['geohashed_end_loc'] = mobikedata['geohashed_end_loc'].map(lambda loc:geo.decode_exactly(loc))

print(mobikedata['geohashed_start_loc'].head(5))
print(mobikedata['geohashed_end_loc'].head(5))

0    (40.10353088378906, 116.28959655761719, 0.0006...
1    (39.79042053222656, 116.32530212402344, 0.0006...
2    (39.88243103027344, 116.54228210449219, 0.0006...
3    (39.76570129394531, 116.16325378417969, 0.0006...
4    (39.96345520019531, 116.38847351074219, 0.0006...
Name: geohashed_start_loc, dtype: object
0    (40.10078430175781, 116.28684997558594, 0.0006...
1    (39.79728698730469, 116.32255554199219, 0.0006...
2    (39.87556457519531, 116.55189514160156, 0.0006...
3    (39.76570129394531, 116.16188049316406, 0.0006...
4    (39.95933532714844, 116.38160705566406, 0.0006...
Name: geohashed_end_loc, dtype: object

In [18]:
# Create the column 'distance' based on the Euclidean distance that the order has traveled.

def dist(end, start):
    return math.sqrt((end[0]-start[0])*(end[0]-start[0]) + (end[1]-start[1])*(end[1]-start[1]))

mobikedata['distance'] = mobikedata.apply(lambda row: dist(row['geohashed_end_loc'], row['geohashed_start_loc']), axis=1)

print(mobikedata['distance'].head(10))

0    0.003884
1    0.007395
2    0.011813
3    0.001373
4    0.008008
5    0.008793
6    0.006142
7    0.003071
8    0.006142
9    0.011072
Name: distance, dtype: float64

In [19]:
# Check the memory you have spent by the API .info()

mobikedata.info()

# Compress the field orderid userid bikeid using a smaller data type int32 and the field biketype using int8

mobikedata['orderid'] = mobikedata['orderid'].astype('int32')
mobikedata['userid'] = mobikedata['userid'].astype('int32')
mobikedata['bikeid'] = mobikedata['bikeid'].astype('int32')
mobikedata['biketype'] = mobikedata['biketype'].astype('int8')

# Check the memory you have spent again

mobikedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
orderid                100000 non-null int64
userid                 100000 non-null int64
bikeid                 100000 non-null int64
biketype               100000 non-null int64
starttime              100000 non-null datetime64[ns, UTC]
geohashed_start_loc    100000 non-null object
geohashed_end_loc      100000 non-null object
distance               100000 non-null float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(2)
memory usage: 6.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
orderid                100000 non-null int32
userid                 100000 non-null int32
bikeid                 100000 non-null int32
biketype               100000 non-null int8
starttime              100000 non-null datetime64[ns, UTC]
geohashed_start_loc    100000 non-null object
geohashed_end_loc      100000 non-null object
distance               100000 non-null float64
dtypes: datetime64[ns, UTC](1), float64(1), int32(3), int8(1), object(2)
memory usage: 4.3+ MB

In [20]:
# Fetch the first 10 lines of your data to preview it.

mobikedata.head(10)

,orderid,userid,bikeid,biketype,starttime,geohashed_start_loc,geohashed_end_loc,distance
0,1893973,451147,210617,2,2017-05-14 22:16:50+00:00,"(40.10353088378906, 116.28959655761719, 0.0006...","(40.10078430175781, 116.28684997558594, 0.0006...",0.003884
1,4657992,1061133,465394,1,2017-05-14 22:16:52+00:00,"(39.79042053222656, 116.32530212402344, 0.0006...","(39.79728698730469, 116.32255554199219, 0.0006...",0.007395
2,2965085,549189,310572,1,2017-05-14 22:16:51+00:00,"(39.88243103027344, 116.54228210449219, 0.0006...","(39.87556457519531, 116.55189514160156, 0.0006...",0.011813
3,4548579,489720,456688,1,2017-05-14 22:16:51+00:00,"(39.76570129394531, 116.16325378417969, 0.0006...","(39.76570129394531, 116.16188049316406, 0.0006...",0.001373
4,3936364,467449,403224,1,2017-05-14 22:16:50+00:00,"(39.96345520019531, 116.38847351074219, 0.0006...","(39.95933532714844, 116.38160705566406, 0.0006...",0.008008
5,5163705,917620,509044,1,2017-05-14 22:16:53+00:00,"(39.99366760253906, 116.47087097167969, 0.0006...","(39.98817443847656, 116.46400451660156, 0.0006...",0.008793
6,19818,583391,3190,1,2017-05-14 22:16:54+00:00,"(39.75059509277344, 116.56013488769531, 0.0006...","(39.74510192871094, 116.56288146972656, 0.0006...",0.006142
7,495333,185893,67441,1,2017-05-14 22:16:53+00:00,"(39.96620178222656, 116.27723693847656, 0.0006...","(39.96482849121094, 116.27449035644531, 0.0006...",0.003071
8,2803108,15906,295614,2,2017-05-14 22:16:55+00:00,"(39.84535217285156, 116.39122009277344, 0.0006...","(39.84260559082031, 116.39671325683594, 0.0006...",0.006142
9,271970,183740,38335,1,2017-05-14 22:16:54+00:00,"(39.89067077636719, 116.32667541503906, 0.0006...","(39.88105773925781, 116.33216857910156, 0.0006...",0.011072

In [21]:
# Display the count, mean, standard derviation of the int type variable and display the earliest and latest starttime.

count = mobikedata['biketype'].count()
print('count is: ', count)
mean = mobikedata['biketype'].sum() / count
print('mean is: ', mean)

sd = 0.0
for i in range(count):
    sd = sd + (mobikedata['biketype'][i] - mean) * (mobikedata['biketype'][i] - mean)
sd = math.sqrt(sd/count)
print('standard derviation is: ', sd)

print('earliest starttime is: ', mobikedata['starttime'].min())
print('latest starttime is: ', mobikedata['starttime'].max())

count is:  100000
mean is:  1.38588
standard derviation is:  0.4868024502815851
earliest starttime is:  2017-05-10 17:19:19+00:00
latest starttime is:  2017-05-16 18:18:43+00:00

In [45]:
# Find the number of order between (8am to 9am) and the order between (1am to 2am)

print(mobikedata[(mobikedata['starttime'].dt.hour >= 8) & (mobikedata['starttime'].dt.hour <= 9)][['orderid', 'starttime']])
print(mobikedata[(mobikedata['starttime'].dt.hour >= 1) & (mobikedata['starttime'].dt.hour <= 2)][['orderid', 'starttime']])

       orderid                 starttime
57949   450079 2017-05-11 08:00:11+00:00
58014   548452 2017-05-11 08:00:00+00:00
58020   256305 2017-05-11 08:00:01+00:00
58026  1456458 2017-05-11 08:00:00+00:00
58027  1617386 2017-05-11 08:00:00+00:00
58028   745340 2017-05-11 08:00:02+00:00
58031  1307189 2017-05-11 08:00:00+00:00
58032  1654655 2017-05-11 08:00:01+00:00
58033  2256433 2017-05-11 08:00:03+00:00
58034  2648518 2017-05-11 08:00:00+00:00
58035  2941425 2017-05-11 08:00:01+00:00
58036  4017807 2017-05-11 08:00:01+00:00
58037  4389540 2017-05-11 08:00:00+00:00
58038  5071042 2017-05-11 08:00:00+00:00
58039   134812 2017-05-11 08:00:01+00:00
58040   189048 2017-05-11 08:00:00+00:00
58041   421740 2017-05-11 08:00:01+00:00
58042  2602553 2017-05-11 08:00:02+00:00
58043  2799898 2017-05-11 08:00:02+00:00
58044  3597184 2017-05-11 08:00:02+00:00
58045  4005566 2017-05-11 08:00:01+00:00
58046  4608416 2017-05-11 08:00:04+00:00
58047  4995357 2017-05-11 08:00:02+00:00
58048   739029 2017-05-11 08:00:02+00:00
58049  1085720 2017-05-11 08:00:03+00:00
58050  1286696 2017-05-11 08:00:02+00:00
58051  2221387 2017-05-11 08:00:02+00:00
58052  2429256 2017-05-11 08:00:01+00:00
58053  3122990 2017-05-11 08:00:02+00:00
58054  3375515 2017-05-11 08:00:02+00:00
...        ...                       ...
65890  4371576 2017-05-11 08:15:18+00:00
65891  4409801 2017-05-11 08:15:19+00:00
65892  4667932 2017-05-11 08:15:18+00:00
65893   513205 2017-05-11 08:15:20+00:00
65894  1306131 2017-05-11 08:15:19+00:00
65895  3189799 2017-05-11 08:15:19+00:00
65896  3339972 2017-05-11 08:15:19+00:00
65897  4709591 2017-05-11 08:15:21+00:00
65898  1305529 2017-05-11 08:15:20+00:00
65899  1820715 2017-05-11 08:15:20+00:00
65900  1889003 2017-05-11 08:15:21+00:00
65901  2035748 2017-05-11 08:15:22+00:00
65902  2089082 2017-05-11 08:15:21+00:00
65903  3284002 2017-05-11 08:15:22+00:00
65904  3994745 2017-05-11 08:15:21+00:00
65905  4259054 2017-05-11 08:15:21+00:00
65906  4544591 2017-05-11 08:15:21+00:00
65907  1758773 2017-05-11 08:15:24+00:00
65908  2508446 2017-05-11 08:15:23+00:00
65909  2652774 2017-05-11 08:15:21+00:00
65910  4893883 2017-05-11 08:15:25+00:00
65911    80258 2017-05-11 08:15:22+00:00
65912   702863 2017-05-11 08:15:23+00:00
65913  2951684 2017-05-11 08:15:23+00:00
65914  3179570 2017-05-11 08:15:23+00:00
65915   362763 2017-05-11 08:15:24+00:00
65916   666127 2017-05-11 08:15:23+00:00
65917  1463147 2017-05-11 08:15:23+00:00
65918  3276628 2017-05-11 08:15:23+00:00
65919  3622437 2017-05-11 08:15:27+00:00

[7895 rows x 2 columns]
Empty DataFrame
Columns: [orderid, starttime]
Index: []